/* ========================================== */
/*                                            */
/*                PC画面サイズ                  */
/*                                            */
/* ========================================== */

@media screen and (min-width: 758px) {
    textarea {
        resize: none;
        outline: none;
    }
    /*全ページ共通 */
    .font-size {
        font-size: 22px;
    }
    .display_br {
        display: none;
    }
    button {
        cursor: pointer;
    }
    .flex {
        display: flex;
    }
    .position_center {
        display: flex;
        justify-content: center;
    }
    .position_left {
        display: flex;
        justify-content: start;
    }
    .position_right {
        display: flex;
        justify-content: end;
    }
    .position_bottom {
        display: flex;
        align-items: end;
        margin-bottom: 15px;
    }
    .position_between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .align-item-center {
        display: flex;
        align-items: center;
    }
    /* ログインページ */
    .error_message_position_login {
        line-height: 0px;
        margin-top: -45px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: end;
        height: 40px;
    }
    .error_message_login {
        text-align: left;
        width: 500px;
        color: red;
    }
    .content-position-login h1 {
        font-size: 50px;
    }
    .content-position-login h2 {
        margin-top: 100px;
    }
    .bgcolor_fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffc0;
    }
    .content-position-login {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 800px;
    }
    .login_form {
        border-radius: 20px;
        border: solid 1px gray;
        width: 700px;
        height: 350px;
    }
    .login_form input {
        margin-bottom: 40px;
        font-size: 20px;
        width: 500px;
        height: 30px;
    }
    .input_margin_top {
        margin-top: 80px;
    }
    .btn_position_login {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn_margin {
        margin-left: 200px;
    }
    .btn_to_create {
        height: 20px;
        font-size: 16px;
        color: gray;
        border: none;
        background: none;
    }
    .btn_to_create:hover {
        color: red;
    }
    .btn_login {
        border-radius: 10px;
        color: gray;
        width: 130px;
        height: 40px;
        background-color: #ffff50;
        border-color: #ffff50;
        margin-left: 200px;
        font-size: 16px;
    }

    /* アカウント作成ページ */
    .error_message_create {
        color: red;
    }
    .title-text-align-create {
        text-align: center;
    }
    .content-position-create label{
        font-size: 18px;
    }
    .margin-left-label {
        margin-left: 50px;
    }
    .content-position-create input{
        margin-left: 10px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .content-position-create select{
        width: 120px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .content-position-create h1 {
        font-size: 50px;
    }
    .content-position-create h2 {
        margin-top: 100px;
    }
    .content-position-create {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 900px;
    }
    .create_form {
        display: flex;
        justify-content: center;
        border-radius: 20px;
        border: solid 1px gray;
        width: 700px;
        height: 500px;
    }
    .btn_position_create {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_back {
        border-radius: 10px;
        color: gray;
        width: 130px;
        height: 40px;
        background-color: #ffff50;
        border-color: #ffff50;
        font-size: 16px;
    }

    /* メインページ */
    .bgcolor_man {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: skyblue;
    }
    .bgcolor_woman {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: pink;
    }
    .bgcolor_man_header {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: #5090c0;
        box-shadow: 0px 4px 5px gray;
    }
    .bgcolor_woman_header {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: palevioletred;
        box-shadow: 0px 4px 5px gray;
    }
    .display_none_pc {
        display: none;
    }
    .text-align {
        text-align: center;
        display: flex;
        align-items: center;
    }
    .title {
        white-space: nowrap;
        font-size: 20px;
    }
    .sub_title {
        margin-top: -20px;
        font-size: 10px;
    }
    .title_margin {
        margin-top: -10px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .header_content_left_status {
        display: flex;
        justify-content: center;
        width: 270px;
        height: 60px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        text-align: left;
        font-size: 10px;
    }
    .header_content_left_status_1 {
        margin-top: 6px;
    }
    .header_content_left_status_2 {
        margin-top: -8px;
        margin-bottom: -8px;
    }
    .header_content_right_wrapper_man {
        display: flex;
        justify-content: center;
        width: 210px;
        height: 70px;
        text-align: center;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .header_content_right_wrapper_woman {
        display: flex;
        justify-content: center;
        width: 210px;
        height: 70px;
        text-align: center;
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .header_content_right_wrapper_man button {
        margin-right: 10px;
        font-size: 12px;
        background: none;
        border: none;
    }
    .header_content_right_wrapper_man button:hover {
        transition: .5s;
        border-radius: 5px;
        background-color: #5090c0;
        color: white;
    }
    .header_content_right_wrapper_woman button {
        margin-right: 10px;
        font-size: 12px;
        background: none;
        border: none;
    }
    .header_content_right_wrapper_woman button:hover {
        transition: .5s;
        border-radius: 5px;
        background-color: palevioletred;
        color: white;
    }
    .user_name {
        white-space: nowrap;
        margin-right: 10px;
        margin-top: 16px;
        font-size: 12px;
        margin-bottom: 0px;
    }
    .icon_size {
        margin-top: 5px;
        margin-right: 5px;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    .side_menu_man {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #b0e5ff;
    }
    .side_menu_woman {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #ffe5e5;
    }
    .side_menu_man button {
        height: 50px;
        width: 250px;
        border: none;
        background: none;
    }
    .side_menu_woman button {
        height: 50px;
        width: 250px;
        border: none;
        background: none;
    }
    .side_menu_man button:hover {
        transition: .5s;
        color: white;
        background-color: #5090c0;
    }
    .side_menu_woman button:hover {
        transition: .5s;
        color: white;
        background-color: palevioletred;
    }
    .main_contents {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 255px;
        width: 85.5%;
        height: 100%;
    }
    .main_contents_position {
        position: relative;
        margin-left: 0px;
        width: 100%;
    }
    .main_contents h1 {
        margin-bottom: 50px;
    }
    .margin_pc {
        text-align: center;
        position: relative;
        top: 120px;
    }
    .tweet_content form {
        margin-bottom: 100px;
    }
    .tweet_content p {
        font-size: 20px;
    }
    .tweet_content textarea {
        font-size: 20px;
        width: 600px;
        height: 300px;
    }
    .tweet_content button {
        margin-top: 30px;
        color: white;
        border-radius: 10px;
        font-size: 20px;
        width: 150px;
        height: 50px;
    }
    .tweet_content .btn_size {
        width: 130px;
        height: 30px;
        margin-bottom: -100px;
    }
    .tweet_box_wrapper {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .tweet_box_wrapper_margin {
        margin-bottom: 200px;
    }
    .tweet_box_wrapper_margin button {
        margin-top: 80px;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        width: 120px;
        height: 50px;
    }
    .mumble_box {
        word-break: break-all;
        width: 600px;
        border-radius: 10px;
        text-align: left;
        background-color: white;
        margin-bottom: 100px;
        box-shadow: 3px 3px 3px gray;
    }
    .mumble_box .padding {
        padding: 20px;
    }
    .tweet_box_wrapper .btn_delete_all {
        width: 130px;
        height: 30px;
        font-size: 14px;
        margin-bottom: 2px;
    }
    .tweet_box p {
        margin-top: 5px;
        margin-left: 10px;
    }
    .regist_date_tweet {
        display: flex;
        justify-content: space-between;
        align-items: end;
        text-align: left;
    }
    .regist_date_tweet .btn_margin {
        margin-bottom: 0;
    }
    .input_side_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 50px;
        height: 43.5px;
    }
    .input_side_icon p {
        margin-left: 5px;
    }
    .search_list_btn {
        margin-bottom: 20px;
    }
    .chat_history_content_wrapper {
        margin-bottom: 200px;
    }
    .chat_history_list_wrapper {
        margin-bottom: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        width: 650px;
        height: 60px;
        box-shadow: 2px 2px 4px gray;
    }
    .chat_history_list_wrapper img {
        margin-right: 10px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .chat_history_list_wrapper div {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-left: 20px;
    }
    .chat_history_list_wrapper form {
        margin-right: 20px;
    }
    .chat_history_list_wrapper button {
        color: white;
        border-radius: 10px;
        font-size: 20px;
        width: 110px;
        height: 40px;
    }
    .chat {
        border-radius: 20px;
        background-color: rgba(255,255,255, 0.5);
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin-bottom: 200px;
    }
    .chat_null {
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin-bottom: 200px;
    }
    .chat_view_area {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .font-size-time {
        font-size: 11px;
    }
    .realtime .margin-left {
        margin-left: 10px;
    }
    .realtime img {
        margin-left: 10px;
    }
    .chat_style_1 {
        word-break: break-all;
        max-width: 100%;
        margin-top: 22px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: left;
        margin-right: 10px;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: 3px 3px 3px gray;
    }
    .chat_style_1 .margin {
        margin: 20px;
    }
    .chat_style_2 {
        word-break: break-all;
        max-width: 100%;
        margin-top: 22px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: left;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: 3px 3px 3px gray;
    }
    .chat_style_2 .margin {
        margin: 20px;
    }
    .chat_icon .margin-right {
        margin-right: 10px;
    }
    .chat_icon .margin-left {
        margin-left: 10px;
    }
    .chat_box_wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: skyblue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6.5%;
    }
    .chat_box_wrapper form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .chat img {
        width: 50px;
        height: 50px;
    }
    .chat_box_wrapper .message_box {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
        width: 400px;
        height: 40px;
    }
    .chat button {
        border-radius: 5px;
        font-size: 20px;
        width: 80px;
        height: 49px;
        color: white;
    }
    .chat_null img {
        width: 50px;
        height: 50px;
    }
    .chat_null button {
        border-radius: 5px;
        font-size: 20px;
        width: 80px;
        height: 49px;
        color: white;
    }
    .btn_clear .margin {
        margin-left: 15px;
    }
    .search_list_btn button {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        font-size: 20px;
        width: 130px;
        height: 50px;
        color: white;
    }
    .search_list_view {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .search_list_view img {
        margin-left: 5px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .search_friend input {
        font-size: 20px;
        width: 500px;
        height: 40px;
        border-top: solid 1px gray;
        border-bottom: solid 1px gray;
        border-left: none;
        border-right: none;
        outline: none;
    }
    .search_friend input:focus::placeholder {
        color: transparent;
    }
    .search_friend button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        color: white;
        margin-left: 0px;
        font-size: 20px;
        width: 60px;
        height: 43.5px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .search_friend button > p {
        margin-left: -5px;
    }
    .message_margin {
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .search_list {
        box-shadow: 3px 3px 4px gray;
        margin-left: 13px;
        margin-right: 7px;
        margin-bottom: 50px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 172px;
        height: 370px;
    }
    .search_list img {
        margin-left: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        width: 100%;
        height: 172px;
        margin-top: 0px;
        object-fit: cover;
    }
    .list_button_position {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110px;
    }
    .search_list button {
        margin-bottom: 10px;
        border-radius: 10px;
        width: 150px;
        height: 35px;
        color: white;
        font-size: 11px;
    }
    .list_name {
        font-size: 15px;
    }
    .list_gender {
        font-size: 12px;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .search_list_button_page_position {
        display: flex;
        justify-content: center;
        margin-bottom: 200px;
        font-size: 30px;
    }
    .search_list_button_page_position button {
        border-radius: 5px;
        font-size: 30px;
        color: white;
    }
    .search_page_counter {
        margin-left: 10px;
        margin-right: 10px;
    }
    .detail_list {
        width: 600px;
        border: solid 1px gray;
        border-radius: 20px;
        text-align: left;
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }
    .detail_list .margin {
        margin-top: 20px;
    }
    .detail_list div {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .detail_list img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    .detail_list .introduction {
        border-radius: 10px;
        word-break: break-all;
        text-align: left;
        background-color: white;
        width: 500px;
        min-height: 300px;
        box-shadow: 3px 3px 3px gray;
        margin-bottom: 50px;
    }
    .detail_list .introduction .padding {
        padding: 10px;
    }
    .detail_view {
        display: flex;
        justify-content: center;
        border: solid 1px gray;
        border-radius: 20px;
        width: 600px;
        margin-bottom: 80px;
        text-align: left;
    }
    .detail_view .margin {
        margin-top: 20px;
    }
    .detail_view div {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .detail_view img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .detail_view .introduction {
        word-break: break-all;
        border-radius: 10px;
        text-align: left;
        background-color: white;
        width: 500px;
        min-height: 300px;
        margin-bottom: 50px;
        box-shadow: 3px 3px 3px gray;
    }
    .detail_view .introduction .padding {
        padding: 10px;
    }
    .detail_btn_man {
        border-radius: 10px;
        font-size: 20px;
        width: 130px;
        height: 50px;
        color: white;
        margin-bottom: 100px;
        border-color: #5090c0;
        background-color: #5090c0;
    }
    .detail_btn_woman {
        border-radius: 10px;
        font-size: 20px;
        width: 130px;
        height: 50px;
        color: white;
        margin-bottom: 100px;
        border-color: palevioletred;
        background-color: palevioletred;
    }
    .select_btn button {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        font-size: 20px;
        width: 130px;
        height: 50px;
        color: white;
    }
    .friend_list {
        font-size: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 650px;
        height: 60px;
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 2px 2px 4px gray;
    }
    .friend_list .button_size button {
        width: 80px;
    }
    .friend_list .margin-left {
        margin-left: 30px;
    }
    .friend_list .margin-right {
        margin-right: 30px;
    }
    .friend_list button {
        border-radius: 10px;
        color: white;
        margin-left: 10px;
        width: 60px;
        height: 35px;
    }
    .friend_list img {
        margin-top: 0px;
        margin-right: 10px;
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
    .friend_request {
        margin-bottom: 300px;
    }
    .friend_request .margin-right {
        margin-right: 10px;
    }
    .friend_request .margin {
        margin-bottom: 10px;
    }
    .get_request {
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 700px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .get_request button {
        border-radius: 5px;
        color: white;
        width: 50px;
        height: 30px;
        margin-left: 7px;
        margin-right: 7px;
    }
    .get_request .margin-left {
        margin-left: 20px;
    }
    .send_request {
        margin-bottom: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    #request_list {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .edit_password_error_message {
        color: red;
    }
    .edit_success_message {
        margin-top: 20px;
        text-align: center;
    }
    .edit_status_form {
        font-size: 16px;
        text-align: center;
        margin-bottom: 200px;
        width: 800px;
        border-radius: 20px;
        border: solid 1px gray;
    }
    .border_in_content_margin {
        text-align: left;
        margin-left: 97px;
    }
    .border_in_content_margin input {
        margin-bottom: 10px;
    }
    .edit_status_form p {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        margin-left: -97px;
        font-size: 25px;
    }
    .edit_status_form select {
        font-size: 16px;
    }
    .edit_status_form input {
        font-size: 16px;
    }
    .edit_name {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .edit_address1 {
        margin-top: 10px;
    }
    .edit_address2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .edit_introduction {
        margin-top: 20px;
        margin-left: -97px;
        text-align: center;
    }
    .edit_introduction textarea {
        width: 600px;
        height: 300px;
    }
    .edit_status_form .edit_button_position {
        margin-left: -97px;
        padding-bottom: 70px;
    }
    .edit_button_man {
        margin-bottom: 20px;
        font-size: 25px;
        border-radius: 20px;
        width: 700px;
        height: 200px;
        background-color: #b0e5ff;
        border-color: #b0e5ff;
    }
    .edit_button_man div {
        font-size: 12px;
    }
    .edit_button_man .margin-top {
        margin-top: 20px;
    }
    .edit_button_woman {
        margin-bottom: 20px;
        font-size: 25px;
        border-radius: 20px;
        width: 700px;
        height: 200px;
        background-color: #ffe5e5;
        border-color: #ffe5e5;
    }
    .edit_button_woman div {
        font-size: 12px;
    }
    .edit_button_woman .margin-top {
        margin-top: 20px;
    }
    .edit_password_form {
        font-size: 20px;
        margin-bottom: 200px;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 600px;
        border-radius: 20px;
        border: solid 1px gray;
        box-sizing: border-box;
    }
    .edit_select_button_wrapper {
        margin-bottom: 200px;
    }
    .edit_password_form p {
        margin-top: -30px;
        font-size: 25px;
        text-align: center;
    }
    .edit_password_form input {
        font-size: 20px;
    }
    .edit_password_form .input_margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .edit_button_position {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    .edit_button_position button {
        color: white;
        border-radius: 10px;
        font-size: 20px;
        width: 150px;
        height: 50px;
    }
    .edit_btn_man {
        border-color: #5090c0;
        background-color: #5090c0;
    }
    .edit_btn_woman {
        border-color: palevioletred;
        background-color: palevioletred;
    }
    .edit_btn_margin_left {
        margin-left: 100px;
    }
}

/* ========================================== */
/*                                            */
/*               スマホ画面サイズ                */
/*                                            */
/* ========================================== */

@media screen and (max-width: 758px) {
    textarea {
        resize: none;
        outline: none;
    }
    .position_center {
        display: flex;
        justify-content: center;
    }
    .position_left {
        display: flex;
        justify-content: start;
    }
    .position_right {
        display: flex;
        justify-content: end;
    }
    .position_between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .position_bottom {
        display: flex;
        align-items: end;
        margin-bottom: 4.7vw;
    }
    .align-item-center {
        display: flex;
        align-items: center;
    }
    .display_none_phone {
        display: none;
    }
    select {
        color: black;
    }
    button {
        color: black;
    }
    .bgcolor_fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffc0;
    }
    .content-position-login {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 150vw;
    }

    /* ログインページ */
    .error_message_position_login {
        display: flex;
        justify-content: center;
        align-items: end;
        height: 7vw;
    }
    .error_message_login {
        font-size: 4vw;
        color: red;
    }
    .content-position-login h1 {
        font-size: 8vw;
    }
    .content-position-login h2 {
        font-size: 5vw;
        margin-top: 20vw;
        margin-bottom: 10vw;
    }
    .font-size-smart-phone {
        font-size: 3vw;
    }
    .login_form {
        width: 100vw;
        height: 70vw;
    }
    .login_form input {
        margin-bottom: 3vw;
        width: 90vw;
        height: 8vw;
        font-size: 5vw;
    }
    .btn_position_login {
        margin-top: 10vw;
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .btn_center {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .btn_to_create {
        color: gray;
        border-radius: 3vw;
        background-color: #ffff50;
        border-color: #ffff50;
        font-size: 4vw;
        width: 90vw;
        height: 15vw;
        margin-bottom: 30vw;
    }
    .btn_login {
        margin-bottom: 3vw;
        color: gray;
        border-radius: 3vw;
        background-color: #ffff50;
        border-color: #ffff50;
        font-size: 4vw;
        width: 90vw;
        height: 15vw;
    }

    /* アカウント作成ページ */
    .error_message_create {
        color: red;
    }
    .content-position-create h1 {
        font-size: 8vw;
    }
    .content-position-create h2 {
        font-size: 5vw;
        margin-top: 20vw;
        margin-bottom: 10vw;
    }
    .content-position-create span {
        font-size: 5vw;
    }
    .title-text-align-create {
        margin-top: 20vw;
        text-align: center;
    }
    .content-position-create label{
        font-size: 5vw;
    }
    .content-position-create input{
        font-size: 5vw;
        margin-top: 1vw;
        margin-bottom: 5vw;
    }
    .content-position-create select{
        font-size: 5vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }
    .content-position-create {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .create_form {
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 20px;
        width: 100vw;
        height: 150vw;
        margin-bottom: 30vw;
    }
    .btn_position_create {
        margin-top: 10vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .btn_back {
        color: gray;
        border-radius: 3vw;
        background-color: #ffff50;
        border-color: #ffff50;
        font-size: 4vw;
        width: 90vw;
        height: 15vw;
        margin-bottom: 30vw;
    }

    /* メインページ */
    .bgcolor_man {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: skyblue;
    }
    .bgcolor_woman {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: pink;
    }
    .bgcolor_man_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 20vw;
        background-color: #5090c0;
        box-shadow: 0vw 0.1vw 1vw 0.5vw gray;
    }
    .bgcolor_woman_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 20vw;
        background-color: palevioletred;
        box-shadow: 0vw 0.1vw 1vw 0.5vw gray;
    }
    .header_content_right_wrapper_man {
        position: relative;
        border-radius: 2vw;
        background-color: rgba(255,255,255,0.6);
        margin-right: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32vw;
        height: 15vw;
    }
    .header_content_right_wrapper_man img {
        width: 13vw;
        height: 13vw;
        border-radius: 50%;
    }
    .header_content_right_wrapper_woman {
        position: relative;
        border-radius: 2vw;
        background-color: rgba(255,255,255,0.6);
        margin-right: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32vw;
        height: 15vw;
    }
    .header_content_right_wrapper_woman img {
        width: 13vw;
        height: 13vw;
        border-radius: 50%;
    }
    .text-align {
        margin-left: 5vw;
        text-align: center;
    }
    .title {
        margin-top: 0vw;
        font-size: 4vw;
    }
    .sub_title {
        margin-top: -3vw;
        font-size: 2vw;
    }
    .icon_size {
        margin-left: -2vw;
        margin-top: 1.3vw;
        margin-right: 2vw;
        width: 17vw;
        height: 17vw;
    }
    .border_1 {
        width: 8vw;
        height: 0.5vw;
        background-color: black;
        border-radius: 2vw;
    }
    .border_2 {
        margin-top: 2vw;
        margin-bottom: 2vw;
        width: 8vw;
        height: 0.5vw;
        background-color: black;
        border-radius: 2vw;
    }
    .border_3 {
        width: 8vw;
        height: 0.5vw;
        background-color: black;
        border-radius: 2vw;
    }
    .menu {
        cursor: pointer;
        position: absolute;
        right: 3.4vw;
        width: 8vw;
        height: 5.5vw;
    }
    .list_personal_status_man {
        display: flex;
        justify-content: center;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        margin-top: 0px;
        margin-left: -40px;
        text-align: center;
        background-color: #5090c0;
        height: 200px;
    }
    .list_personal_status_woman {
        display: flex;
        justify-content: center;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        margin-top: 0px;
        margin-left: -40px;
        text-align: center;
        background-color: palevioletred;
        height: 200px;
    }
    .status_name {
        margin-top: 30px;
        font-size: 30px;
    }
    .status_birth {
        font-size: 12px;
    }
    .status_email {
        margin-top: -15px;
        margin-bottom: -10px;
        font-size: 12px;
    }
    .status_address {
        margin-top: -20px;
        font-size: 20px;
    }
    #menu {
        z-index: 100;
    }
    #menu .div {
        width: 8vw;
		height: 5.5vw;
		overflow: hidden;
		position: absolute;
		top: 0vw;
		right: 0.1vw;

    }
    #menu .open {
		display: block;
		width: 8vw;
		height: 5.5vw;
		position: absolute;
		top: 0vw;
		right: 0.1vw;
    }
	#menu .close {
		display: none;
		width: 8vw;
		height: 5.5vw;
		position: absolute;
		top: 0vw;
		left: 0.1vw;
	}
    #menu ul {
        border: solid 3px gray;
        border-radius: 15px;
        cursor: auto;
        position: absolute;
        top: 5vw;
        right: -3.4vw;
        list-style: none;
        width: 300px;
        height: 570px;
        background-color: white;
        display: none;
    }
    .menu ul li {
        margin-left: -40px;
        margin-bottom: -2px;
        width: 113.3%;
        height: 50px;
        text-align: center;
        font-size: 3vw;
        border-top: solid 2px gray;
    }
    .menu button {
        font-size: 20px;
        width: 100%;
        height: 50px;
        border: none;
        background: none;
    }
	#menu:target .open {
		display: none;
	}
	#menu:target .close {
		display: block;
	}
	#menu:target ul {
		display: block;
	}
    .menu_item_man:hover {
        background-color: #5090c0;
    }
    .menu_item_man:hover button {
        color: white;
    }
    .menu_item_woman:hover {
        background-color: palevioletred;
    }
    .menu_item_woman:hover button{
        color: white;
    }
    .item_border_bottom {
        margin-left: -40px;
        width: 113.3%;
        height: 2px;
        background-color: gray;
    }
    .main_contents {
        text-align: center;
        margin-top: 25vw;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .main_contents h1 {
        font-size: 5vw;
    }
    .tweet_content p {
        font-size: 3.5vw;
    }
    .tweet_content textarea {
        font-size: 3vw;
        width: 60vw;
        height: 50vw;
    }
    .tweet_content button {
        margin-top: 5vw;
        margin-bottom: 6vw;
        color: white;
        border-radius: 1.5vw;
        font-size: 3vw;
        width: 30vw;
        height: 10vw;
    }
    .tweet_box_wrapper {
        margin-top: 5vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .mumble_box {
        word-break: break-all;
        border-radius: 2vw;
        text-align: left;
        background-color: white;
        width: 60vw;
        margin-bottom: 5vw;
        box-shadow: 0.5vw 0.5vw 1vw gray;
        font-size: 2.5vw;
    }
    .mumble_box .padding {
        padding: 2vw;
    }
    .tweet_box_wrapper_margin button {
        border-radius: 1vw;
        font-size: 3vw;
        margin-top: 5vw;
        width: 20vw;
        height: 7vw;
        color: white;
    }
    .tweet_box_wrapper .btn_delete_all {
        width: 15vw;
        height: 3.5vw;
        font-size: 1.5vw;
    }
    .tweet_box_wrapper_margin {
        margin-bottom: 30vw;
    }
    .tweet_box_wrapper p {
        margin-top: 0vw;
    }
    .tweet_box p {
        font-size: 2.5vw;
        margin-top: 1vw;
        margin-left: 1vw;
    }
    .regist_date_tweet {
        font-size: 2vw;
        display: flex;
        justify-content: space-between;
        align-items: end;
        text-align: left;
    }
    .regist_date_tweet .btn_margin {
        margin-bottom: -5.5vw;
    }
    .chat_history_content_wrapper {
        margin-bottom: 20vw;
    }
    .chat_history_list_wrapper {
        margin-bottom: 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        width: 80vw;
        height: 15vw;
        box-shadow: 2px 2px 4px gray;
    }
    .chat_history_list_wrapper img {
        margin-top: 0vw;
        margin-left: 0vw;
        margin-right: 2vw;
        border-radius: 50%;
        width: 12vw;
        height: 12vw;
    }
    .chat_history_list_wrapper div {
        display: flex;
        align-items: center;
        font-size: 3vw;
        margin-left: 3vw;
    }
    .chat_history_list_wrapper form {
        margin-right: 3vw;
    }
    .chat_history_list_wrapper button {
        color: white;
        border-radius: 10px;
        font-size: 3vw;
        width: 20vw;
        height: 8vw;
    }
    .chat {
        border-radius: 3vw;
        background-color: rgba(255,255,255, 0.5);
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        margin-bottom: 30vw;
    }
    .chat_null {
        border-radius: 3vw;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        margin-bottom: 30vw;
    }
    .chat_view_area {
        width: 100%;
        margin-top: 3vw;
        margin-bottom: 2vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    .chat_style_1 {
        margin-right: 3vw;
        margin-top: 3.5vw;
        word-break: break-all;
        font-size: 2vw;
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
        text-align: left;
        margin-bottom: 5vw;
        background-color: white;
        box-shadow: 0.3vw 0.3vw 0.4vw gray;
    }
    .realtime .margin-left {
        margin-left: 1vw;
    }
    .realtime img {
        margin-left: 1vw;
    }
    .font-size-time {
        font-size: 1.2vw;
    }
    .chat_style_1 .margin {
        margin: 2vw;
    }
    .chat_style_2 {
        margin-left: -1vw;
        margin-top: 3.5vw;
        word-break: break-all;
        max-width: 65vw;
        font-size: 2vw;
        border-top-right-radius: 1vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
        text-align: left;
        margin-bottom: 5vw;
        background-color: white;
        box-shadow: 0.3vw 0.3vw 0.4vw gray;
    }
    .chat_style_2 .margin {
        margin: 2vw;
    }
    .chat_icon .margin-right {
        margin-right: 1vw;
    }
    .chat_icon .margin-left {
        margin-left: 1vw;
    }
    .chat_box_wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 96.8vw;
        height: 20vw;
        background-color: skyblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .chat_box_wrapper form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .chat img {
        border-radius: 50%;
        width: 8vw;
        height: 8vw;
    }
    .chat_box_wrapper .message_box {
        margin-left: 2vw;
        margin-right: 2vw;
        font-size: 3vw;
        width: 40vw;
        height: 5vw;
    }
    .chat button {
        border-radius: 5px;
        font-size: 2vw;
        width: 10vw;
        height: 6vw;
        color: white;
    }
    .chat_null button {
        border-radius: 5px;
        font-size: 2.5vw;
        width: 10vw;
        height: 6vw;
        color: white;
    }
    .btn_clear .margin {
        margin-left: 2vw;
    }

    .search_list_view {
        margin-top: 20vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .search_friend {
        text-align: center;
    }
    .search_friend input {
        font-size: 3vw;
        width: 60vw;
        height: 5.5vw;
    }
    .search_friend button {
        border-radius: 1vw;
        font-size: 3vw;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 62vw;
        height: 8vw;
        margin-top: 3vw;
    }
    .search_list {
        box-shadow: 0.5vw 0.5vw 0.5vw gray;
        font-size: 3vw;
        border-radius: 2.5vw;
        width: 40vw;
        height: 77vw;
        margin-bottom: 3vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .list_button_position {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vw;
    }
    .search_list_btn button {
        margin-top: 3vw;
        margin-left: 3vw;
        margin-right: 3vw;
        border-radius: 1vw;
        font-size: 3vw;
        width: 20vw;
        height: 7vw;
        color: white;
    }
    .search_list button {
        color: white;
        font-size: 2vw;
        border-radius: 1vw;
        width: 25vw;
        height: 5vw;
        margin-bottom: 2vw;
    }
    .search_list img {
        margin-top: 0vw;
        margin-left: 0vw;
        border-top-left-radius: 2.5vw;
        border-top-right-radius: 2.5vw;
        width: 100%;
        height: 40vw;
        object-fit: cover;
    }
    .list_name {
        font-size: 3vw;
        margin-bottom: -2vw;
    }
    .search_list_button_page_position {
        display: flex;
        justify-content: center;
        margin-top: 5vw;
        margin-bottom: 20vw;
    }
    .search_page_counter {
        font-size: 5vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .search_list_button_page_position button {
        color: white;
        border-radius: 1vw;
        font-size: 5vw;
    }
    .edit_select_button_wrapper {
        margin-bottom: 30vw;
    }
    .detail_view {
        margin-top: 3vw;
        width: 85vw;
        border-radius: 5vw;
        border: solid 0.1vw gray;
        font-size: 3vw;
        margin-bottom: 10vw;
    }
    .detail_view div {
        margin-bottom: 2vw;
    }
    .detail_view img {
        border-radius: 50%;
        margin-top: 8vw;
        width: 30vw;
        height: 30vw;
        object-fit: cover;
    }
    .detail_view .introduction {
        border-radius: 2vw;
        word-break: break-all;
        text-align: left;
        width: 70vw;
        min-height: 30vw;
        background-color: white;
        box-shadow: 0.5vw 0.5vw 1vw gray;
        margin-bottom: 10vw;
    }
    .detail_view .introduction .padding {
        padding: 2vw;
    }
    .detail_btn_man {
        border-radius: 1.5vw;
        font-size: 4vw;
        width: 20vw;
        height: 8vw;
        color: white;
        margin-bottom: 20vw;
        border-color: #5090c0;
        background-color: #5090c0;
    }
    .detail_btn_woman {
        border-radius: 1.5vw;
        font-size: 4vw;
        width: 20vw;
        height: 8vw;
        color: white;
        margin-bottom: 20vw;
        border-color: palevioletred;
        background-color: palevioletred;
    }
    .detail_list {
        display: flex;
        justify-content: center;
        border-radius: 5vw;
        border: solid 0.1vw gray;
        width: 85vw;
        font-size: 3vw;
        margin-top: 5vw;
        margin-bottom: 10vw;
    }
    .detail_list div {
        margin-bottom: 2vw;
    }
    .detail_list .introduction {
        border-radius: 1vw;
        text-align: left;
        background-color: white;
        width: 70vw;
        min-height: 30vw;
        box-shadow: 0.5vw 0.5vw 1vw gray;
        margin-bottom: 5vw;
    }
    .detail_list .introduction .padding {
        padding: 2vw;
    }
    .detail_list img {
        margin-top: 5vw;
        margin-bottom: 1.5vw;
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
    }
    .detail_content_margin_top {
        margin-top: 3vw;
    }
    .select_btn button {
        border-radius: 2vw;
        color: white;
        margin-left: 4vw;
        margin-right: 4vw;
        font-size: 3vw;
        width: 20vw;
        height: 8vw;
    }
    .friend_list_wrapper {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 80vw;
        margin-bottom: 20vw;
    }
    .friend_list {
        font-size: 2.5vw;
        margin-bottom: 4vw;
        border-radius: 2vw;
        width: 80vw;
        height: 15vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0.3vw 0.3vw 0.7vw gray;
    }
    .friend_list_wrapper .width {
        font-size: 2vw;
        width: 100%;
    }
    .friend_list .margin-left {
        margin-left: 4vw;
    }
    .friend_list .margin-right {
        margin-right: 4vw;
    }
    .friend_list button {
        border-radius: 1vw;
        color: white;
        font-size: 2vw;
        width: 8vw;
        height: 6vw;
        margin-left: 2vw;
    }
    .friend_list .button_size button {
        font-size: 2vw;
        width: 12vw;
    }
    .friend_list img {
        margin-top: 0vw;
        margin-left: 0vw;
        margin-right: 2vw;
        border-radius: 50%;
        width: 12vw;
        height: 12vw;
    }
    .friend_request {
        margin-bottom: 20vw;
    }
    .friend_request .font-size {
        font-size: 2vw;
    }
    .friend_request .margin {
        margin-bottom: 2vw;
    }
    .friend_request .margin-right {
        margin-right: 1vw;
    }
    .get_request {
        font-size: 2vw;
        border-radius: 2vw;
        display: flex;
        align-items: center;
        margin-bottom: 3vw;
        width: 80vw;
        height: 10vw;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .get_request button {
        border-radius: 0.7vw;
        color: white;
        font-size: 1.7vw;
        width: 8vw;
        height: 5vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .get_request .margin-left {
        margin-left: 2vw;
    }
    .friend_request .font-size-name {
        font-size: 2.3vw;
    }
    .send_request {
        margin-bottom: 3vw;
        border-radius: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        width: 80vw;
        height: 10vw;
        background-color: rgba(255, 255, 255, 0.7);
    }
    #request_list {
        font-size: 2vw;
        margin-bottom: 2vw;
    }

    .edit_select_button_wrapper button {
        margin-top: 5vw;
        width: 80vw;
        height: 30vw;
        border-radius: 2vw;
        font-size: 3.5vw;
    }
    .edit_status_form {
        height: 190vw;
        font-size: 3.5vw;
    }
    .edit_status_form input {
        width: 50vw;
        font-size: 3.5vw;
    }
    .edit_status_form select {
        width: 50vw;
        font-size: 3.5vw;
    }
    .edit_introduction {
        width: 53.8vw;
        height: 50vw;
        font-size: 3.5vw;
        margin-bottom: 10vw;
    }
    .edit_introduction textarea{
        width: 53.8vw;
        height: 50vw;
        font-size: 3.5vw;
    }
    .edit_button_man {
        border-color: #b0e5ff;
        background-color: #b0e5ff;
    }
    .edit_button_man div {
        font-size: 2vw;
    }
    .edit_button_woman div {
        font-size: 2vw;
    }
    .edit_button_woman {
        border-color: #ffe5e5;
        background-color: #ffe5e5;
    }
    .edit_button_man .margin-top {
        margin-top: 2vw;
    }
    .edit_button_woman .margin-top {
        margin-top: 2vw;
    }
    .edit_password_form {
        font-size: 3.5vw;
        margin-bottom: 30vw;
    }
    .edit_password_form input {
        font-size: 3.5vw;
    }
    .edit_input_margin {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    .edit_button_position {
        width: 55vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-bottom: 20vw;
    }
    .edit_btn_man {
        margin-top: 3.5vw;
        font-size: 3.5vw;
        width: 55vw;
        height: 10vw;
        border-radius: 2vw;
        color: white;
        background-color: #5090c0;
        border-color: #5090c0;
    }
    .edit_btn_woman {
        margin-top: 3.5vw;
        font-size: 3.5vw;
        width: 55vw;
        height: 10vw;
        border-radius: 2vw;
        color: white;
        background-color: palevioletred;
        border-color: palevioletred;
    }
    .edit_btn_margin_left {
        margin-top: 10vw;
    }
}