/* PC用スタイル */
@media screen and (min-width: 758px) {
    textarea {
        resize: none;
    }
    /* ログインページ */
    button {
        cursor: pointer;
    }
    .error_message {
        margin-left: 10px;
        color: red;
    }
    .display_br {
        display: none;
    }
    .login_page_wrapper {
        position: absolute;
        width: 100%;
        height: 850px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: ヒラギノ明朝 ProN;
    }
    h1 {
        font-size: 50px;
    }
    small div {
        font-size: 20px;
        margin-top: -20px;
        margin-bottom: 60px;
    }
    .title {
        text-align: center;
    }
    .title p {
        font-size: 30px;
    }
    .mark_1 {
        margin-right: 20px;
    }
    .mark_2 {
        margin-left: 20px;
    }
    .form_login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 300px;
        border-radius: 10px;
        border: solid 1px gray;
    }
    .form_login input {
        font-size: 15px;
        border: solid 1px gray;
        border-radius: 5px;
        margin: 10px;
        width: 500px;
        height: 25px;
    }
    .input_login {
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn_link {
        cursor: pointer;
        background: none;
        border: none;
        font-size: 14px;
        color: gray;
    }
    .btn_link:hover {
        color: red;
    }
    .btn {
        cursor: pointer;
        color: gray;
        border-color: #80FF80;
        border-radius: 10px;
        width: 100px;
        height: 40px;
        background-color: #A0FFA0;
    }

    /* アカウント作成ページ */
    .phone {
        display: none;
    }
    .flex {
        display: flex;
        justify-content: space-between;
    }
    .create_account_page_wrapper {
        margin-top: 30px;
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: ヒラギノ明朝 ProN;
    }
    .form_create_account {
        font-size: 15px;
        display: flex;
        justify-content: center;
        width: 700px;
        height: 480px;
        border-radius: 10px;
        border: solid 1px gray;
    }
    .form_create_account input {
        font-size: 15px;
    }
    .form_create_account select {
        font-size: 15px;
    }
    .form_content_margin {
        margin-top: 55px;
    }
    .regist_button {
        margin-top: 40px;
        text-align: center;
    }
    .regist_button button {
        color: gray;
        width: 110px;
        height: 40px;
        border-color: #80FF80;
        border-radius: 10px;
        background-color: #A0FFA0;
    }
    .btn_margin_left {
        margin-left: 130px;
    }
    .btn_margin_right {
        margin-right: 130px;
    }

    /* メインページ */
    .bgcolor_man {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: skyblue;
    }
    .bgcolor_woman {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: pink;
    }
    .index_header_man {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: rgb(106, 155, 174); 
        display: flex;
        justify-content: space-between;
    }
    .index_header_woman {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: palevioletred;
        display: flex;
        justify-content: space-between;
    }
    .index_title_wrapper {
        text-align: center;
        width: 380px;
        height: 99px;
    }
    .index_title {
        margin-top: 15px;
        font-size: 30px;
    }
    .index_subtitle {
        margin-top: -25px;
        font-size: 12px;
    }
    .account_image {
        margin-top: 7px;
        background-size: 100% 100%;
        width: 80px;
        height: 80px;
    }
    img {
        border-radius: 50%;
    }
    .account {
        display: flex;
        align-items: center;
    }
    .menu {
        position: relative;
        margin-left: 10px;
        margin-right: 40px;
        width: 50px;
        height: 29px;
    }
    .menu ul {
        list-style: none;
        position: absolute;
        opacity: 0;
        width: 0px;
        height: 0px;
        top: -16px;
        right: 0;
        border-radius: 20px;
        background-color: #e0e0e0;
    }
    .menu:hover .border_1 {
        transition: .5s;
        opacity: 0;
    }
    .menu:hover .border_2 {
        transition: .5s;
        opacity: 0;
    }
    .menu:hover .border_3 {
        transition: .5s;
        opacity: 0;
    }
    .menu:hover ul {
        transition: .5s;
        opacity: 1;
        width: 400px;
        height: 550px;
    }
    .menu ul li {
        right: 0;
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    .menu:hover ul li {
        width: 100%;
        height: 70px;
        transition: .5s;
        opacity: 1;
    }
    .menu button {
        opacity: 0;
        width: 0px;
        height: 0px;
        cursor: pointer;
        border: none;
        background: none;
        font-size: 0px;
    }
    .menu:hover button {
        transition: .5s;
        opacity: 1;
        width: 100%;
        height: 70px;
        font-size: 23px;
    }
    .list_bgcolor_man_1 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .list_bgcolor_man_2 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .list_bgcolor_man_3 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .list_bgcolor_man_4 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .menu:hover .list_bgcolor_man_1 {
        transition: .5s;
        top: 230px;
        right: 0;
    }
    .menu:hover .list_bgcolor_man_2 {
        transition: .5s;
        top: 300px;
        right: 0;
    }
    .menu:hover .list_bgcolor_man_3 {
        transition: .5s;
        top: 370px;
        right: 0;
    }
    .menu:hover .list_bgcolor_man_4 {
        transition: .5s;
        top: 440px;
        right: 0;
    }
    .list_bgcolor_man_1:hover button {
        color: white;
    }
    .list_bgcolor_man_2:hover button {
        color: white;
    }
    .list_bgcolor_man_3:hover button {
        color: white;
    }
    .list_bgcolor_man_4:hover button {
        color: white;
    }
    .list_bgcolor_man_1:hover {
        background-color: rgb(106, 155, 174);
    }
    .list_bgcolor_man_2:hover {
        background-color: rgb(106, 155, 174);
    }
    .list_bgcolor_man_3:hover {
        background-color: rgb(106, 155, 174);
    }
    .list_bgcolor_man_4:hover {
        background-color: rgb(106, 155, 174);
    }
    .list_bgcolor_woman_1 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .list_bgcolor_woman_2 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .list_bgcolor_woman_3 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .list_bgcolor_woman_4 {
        position: absolute;
        top: 0;
        right: 0;
    }
    .menu:hover .list_bgcolor_woman_1 {
        transition: .5s;
        top: 230px;
        right: 0;
    }
    .menu:hover .list_bgcolor_woman_2 {
        transition: .5s;
        top: 300px;
        right: 0;
    }
    .menu:hover .list_bgcolor_woman_3 {
        transition: .5s;
        top: 370px;
        right: 0;
    }
    .menu:hover .list_bgcolor_woman_4 {
        transition: .5s;
        top: 440px;
        right: 0;
    }
    .list_bgcolor_woman_1:hover button {
        color: white;
    }
    .list_bgcolor_woman_2:hover button {
        color: white;
    }
    .list_bgcolor_woman_3:hover button {
        color: white;
    }
    .list_bgcolor_woman_4:hover button {
        color: white;
    }
    .list_bgcolor_woman_1:hover {
        background-color: palevioletred;
    }
    .list_bgcolor_woman_2:hover {
        background-color: palevioletred;
    }
    .list_bgcolor_woman_3:hover {
        background-color: palevioletred;
    }
    .list_bgcolor_woman_4:hover {
        background-color: palevioletred;
    }
    .list_bgcolor_woman:hover button {
        color: white;
    }
    .item1 {
        opacity: 0;
        margin-top: 40px;
        text-align: center;
        margin-left: -40px;
        font-size: 0px;
    }
    .menu:hover .item1 {
        text-align: center;
        transition: .5s;
        opacity: 1;
        font-size: 15px;
    }
    .item1_email {
        opacity: 0;
        font-size: 0px;
    }
    .menu:hover .item1_email {
        opacity: 1;
        font-size: 12px;
        max-width: 300px;
        word-break: break-all;
        margin: 0 auto;
    }
    .item1_name {
        opacity: 0;
        font-size: 0px;
    }
    .menu:hover .item1_name {
        transition: .5s;
        opacity: 1;
        font-size: 30px;
    }
    .border_1 {
        border-radius: 20px;
        width: 50px;
        height: 3px;
        background-color: white;
    }
    .border_2 {
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 50px;
        height: 3px;
        background-color: white;
    }
    .border_3 {
        border-radius: 20px;
        width: 50px;
        height: 3px;
        background-color: white;
    }
    .background_border {
        position: fixed;
        top: 0px;
        left: 5%;
        width: 90%;
        height: 100%;
        border-left: solid 1px gray;
        border-right:
        solid 1px gray;
    }
    .search_wrapper {
        position: absolute;
        top: 120px;
        left: 5%;
        width: 90%;
    }
    .content_position {
        position: relative;
        text-align: center;
    }
    .search_text {
        font-size: 20px;
    }
    .search_text_margin {
        margin-left: 20px;
    }
    .search_button_margin {
        margin-left: 20px;
    }
    .search_list_wrapper {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .list_margin {
        margin: 10px;
    }
    .list_button_man {
        cursor: pointer;
        border-radius: 30px;
        border-color: rgb(106, 155, 174);
        background-color: rgb(106, 155, 174);
        width: 250px;
        height: 250px;
    }
    .list_button_woman {
        cursor: pointer;
        border-radius: 30px;
        border-color: palevioletred;
        background-color: palevioletred;
        width: 250px;
        height: 250px;
    }
    .list_icon {
        width: 100px;
        height: 100px;
    }
    .list_address {
        font-size: 15px;
    }
    .list_name {
        font-size: 20px;
    }
    .list_button_back {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        width: 70px;
        height: 70px;
    }
    .list_page {
        display: flex;
        align-items: center;
        margin-left: 35px;
        margin-right: 35px;
        font-size: 50px;
    }
    .list_button_next {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        width: 70px;
        height: 70px;
    }
    .list_button_page_position {
        margin-bottom: 150px;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .detail_content_position {
        display: flex;
        justify-content: center;
    }
    .detail_content {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        width: 700px;
        height: 830px;
        border-radius: 30px;
        border: solid 1px gray;
    }
    .detail_bgcolor_man {
        background-color: skyblue;
    }
    .detail_bgcolor_woman {
        background-color: pink;
    }
    .detail_btn_man {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        font-size: 15px;
        color: white;
        background-color: blue;
        border-color: blue;
    }
    .detail_btn_woman {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        font-size: 15px;
        color: white;
        background-color: red;
        border-color: red;
    }
    .detail_content_margin {
        margin-top: 15px;
    }
    .detail_img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    .detail_form_position {
        display: flex;
        align-items: center;
    }
    .detail_position_left {
        text-align: left;
    }
    .detail_ownself_form_margin {
        margin-right: 30px;
    }
    .own_self_opponent {
        word-break: break-all;
        background-color: white;
        border: solid 1px gray;
        width: 300px;
        height: 200px;
        overflow-y: auto;
        font-size: 20px;
    }
    .own_self_opponent .margin {
        margin: 5px;
    }
    .detail_ownself_form_margin .scrollbar::-webkit-scrollbar {
        background-color: black;
        width: 60px;
    }
    .detail_ownself_form_margin .scrollbar::-webkit-scrollbar-track {
        background-color: black;
        width: 60px;
    }
    .detail_ownself_form_margin .scrollbar::-webkit-scrollbar-thumb {
        background-color: black;
        width: 60px;
    }
    .detail_send_text {
        font-size: 22px;
    }
    .detail_input_title {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 300px;
        height: 30px;
        font-size: 18px;
    }
    .detail_input_message {
        width: 300px;
        height: 200px;
        font-size: 18px;
    }
    .detail_title {
        font-size: 40px;
        text-align: center;
    }
    .detail_button_back_position {
        margin-top: 70px;
        margin-bottom: 150px;
    }
    .detail_font_size1 {
        font-size: 20px;
    }
    .detail_font_size2 {
        font-size: 20px;
        text-align: center;
    }

    /* 編集画面 */
    .edit_main_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .edit_main_content_position {
        position: relative;
    }
    .edit_select_button_wrapper{
        margin-top: -200px;
        width: 700px;
        height: 450px;
    }
    .edit_select_button_1_man {
        cursor: pointer;
        width: 700px;
        height: 200px;
        border-radius: 20px;
        background-color: #a0dfff;
        border-color: #a0dfff;
        text-align: center;
    }
    .edit_select_button_1_man p {
        font-size: 25px;
    }
    .edit_select_button_2_man {
        cursor: pointer;
        margin-top: 50px;
        width: 700px;
        height: 200px;
        border-radius: 20px;
        background-color: #a0dfff;
        border-color: #a0dfff;
    }
    .edit_select_button_2_man p {
        font-size: 25px;
    }
    .button_back_margin {
        margin-top: 100px;
        text-align: center;
    }
    .button_back_margin_2 {
        margin-top: 150px;
        margin-bottom: 120px;
        text-align: center;
    }
    .button_back_style_man {
        cursor: pointer;
        color: white;
        background-color: blue;
        border-color: blue;
        border-radius: 10px;
        font-size: 18px;
        width: 180px;
        height: 50px;
    }
    .button_back_style_woman {
        cursor: pointer;
        color: white;
        background-color: red;
        border-color: red;
        border-radius: 10px;
        font-size: 18px;
        width: 180px;
        height: 50px;
    }
    .edit_select_button_1_woman {
        cursor: pointer;
        width: 700px;
        height: 200px;
        border-radius: 20px;
        background-color: #ffe0e0;
        border-color: #ffe0e0;
        text-align: center;
    }
    .edit_select_button_1_woman p {
        font-size: 25px;
    }
    .edit_select_button_2_woman {
        cursor: pointer;
        margin-top: 50px;
        width: 700px;
        height: 200px;
        border-radius: 20px;
        background-color: #ffe0e0;
        border-color: #ffe0e0;
        text-align: center;
    }
    .edit_select_button_2_woman p {
        font-size: 25px;
    }
    .edit_select_1_form {
        border-radius: 20px;
        border: solid 1px gray;
        width: 700px;
        height: 900px;
        margin-top: -200px;
    }
    .edit_select_1_form label {
        margin-right: 10px;
    }
    .edit_select_1_form_content_wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    .profile_image_wrapper {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .profile_image {
        margin-bottom: 20px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    .input_upload_image {
        width: 400px;
        font-size: 20px;
    }
    .profile_font_size {
        font-size: 18px;
    }
    .input_profile_address2 {
        width: 150px;
        margin-left: 10px;
        font-size: 18px;
    }
    .edit_input_name_margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hobby {
        margin-top: 10px;
        font-size: 18px;
    }
    .ownself_label_position {
        font-size: 20px;
        text-align: center;
    }
    .ownself {
        width: 600px;
        height: 300px;
        font-size: 18px;
    }
    .edit_select_2_form {
        margin-top: -200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px gray;
        border-radius: 20px;
        width: 700px;
        height: 400px;
        font-size: 20px;
    }
    .edit_select_2_form input {
        margin-left: 20px;
        font-size: 20px;
    }
    .input_margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .button_save_margin {
        margin-top: 60px;
        text-align: center;
    }
    .button_save_man {
        font-size: 18px;
        border-radius: 10px;
        color: white;
        width: 120px;
        height: 50px;
        background-color: blue;
        border-color: blue;
    }
    .button_save_woman {
        font-size: 18px;
        border-radius: 10px;
        color: white;
        width: 120px;
        height: 50px;
        background-color: red;
        border-color: red;
    }
    .edit_title {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    /* メッセージボックスページ */
    .message_box_page_wrapper {
        position: absolute;
        top: 100px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .message_box_page_margin {
        margin-top: 50px;
    }
    .message_box_title {
        text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
    }
    .message_box_man {
        text-align: center;
        border-radius: 20px;
        border: solid 1px gray;
        width: 700px;
        height: 580px;
        background-color: #a0dfff;
    }
    .message_box_woman {
        text-align: center;
        border-radius: 20px;
        border: solid 1px gray;
        width: 700px;
        height: 580px;
        background-color: #ffe0e0;
    }
    .box_view_size {
        height: 460px;
    }
    .message_button_form {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        height: 47px;
    }
    .message_button {
        width: 600px;
        height: 40px;
        margin-bottom: 0px;
    }
    .message_button_delete_form {
        margin-left: 10px;
    }
    .message_button_delete {
        height: 40px;
    }
    .button_page_wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .message_button_page_back_margin {
        margin-right: 15px;
    }
    .message_button_page_change {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .message_button_page_list {
        display: flex;
        justify-content: center;
    }
    .confirmation_form {
        margin-top: 0px;
    }
    .message_button_page_next_margin {
        margin-left: 15px;
    }
    .message_box_button_back_man {
        font-size: 20px;
        border-radius: 10px;
        width: 180px;
        height: 50px;
        color: white;
        background-color: blue;
        border-color: blue;
    }
    .message_box_button_back_woman {
        font-size: 20px;
        border-radius: 10px;
        width: 180px;
        height: 50px;
        color: white;
        background-color: red;
        border-color: red;
    }
    .button_position {
        text-align: center;
    }
    .message_title {
        width: 700px;
        height: 50px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .message {
        margin-bottom: 50px;
        width: 700px;
        height: 500px;
        font-size: 20px;
    }
    .button_resend_man {
        font-size: 20px;
        border-radius: 10px;
        width: 180px;
        height: 50px;
        color: white;
        background-color: blue;
        border-color: blue;
    }
    .button_resend_woman {
        font-size: 20px;
        border-radius: 10px;
        width: 180px;
        height: 50px;
        color: white;
        background-color: red;
        border-color: red;
    }
    .message_button_back {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .message_already_deleted {
        margin-top: 30px;
        font-size: 30px;
    }
    .send_message_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .send_text {
        text-align: center;
        font-size: 25px;
    }
    .send_button_position {
        margin-top: 40px;
        text-align: center;
    }
    .send_button_back_man {
        font-size: 22px;
        color: white;
        background-color: blue;
        border-color: blue;
    }
    .send_button_back_woman {
        font-size: 22px;
        color: white;
        background-color: red;
        border-color: red;
    }
    /* パスワード更新ページ */
    .content_center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .update_text {
        text-align: center;
        font-size: 25px;
    }
    .button_back_man {
        font-size: 18px;
        color: white;
        background-color: blue;
        border-color: blue;
    }
    .button_back_woman {
        font-size: 18px;
        color: white;
        background-color: red;
        border-color: red;
    }
    /* アカウント削除 */
    .deleted_form_wrapper {
        text-align: center;
        font-size: 30px;
    }
    .deleted_button_margin {
        margin-top: 30px;
        text-align: center;
    }
    .deleted_to_login_man {
        border-radius: 15px;
        font-size: 25px;
        width: 300px;
        height: 80px;
        color: white;
        background-color: blue;
        border-color: blue;
    }
    .deleted_to_login_woman {
        border-radius: 15px;
        font-size: 25px;
        width: 300px;
        height: 80px;
        color: white;
        background-color: red;
        border-color: red;
    }
}

/* スマホ用スタイル */
@media screen and (max-width: 758px) {
    textarea {
        resize: none;
    }
    button {
        background-color: #e0e0e0;
        color: black;
    }
    select {
        text-align: center;
        color: black;
    }
    option {
        text-align: center;
    }
    /* ログインページ */
    .error_message {
        font-size: 4vw;
        margin-left: 3vw;
        color: red;
    }
    .login_page_wrapper {
        position: absolute;
        top: 0vw;
        left: 0vw;
        width: 100%;
        height: 190vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: ヒラギノ明朝 ProN;
    }
    .input_login .btn_link {
        margin-top: 0vw;
    }
    h1 {
        font-size: 7vw;
    }
    small div {
        font-size: 3vw;
        margin-top: -3vw;
    }
    .title {
        margin-top: 10vw;
        text-align: center;
    }
    .title p {
        font-size: 5vw;
        margin-top: 13vw;
        margin-bottom: -10vw;
    }
    .mark_1 {
        margin-right: 3vw;
    }
    .mark_2 {
        margin-left: 3vw;
    }
    .form_login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 120vw;
    }
    .form_login input {
        font-size: 5vw;
        margin: 2.5vw;
        width: 90vw;
        height: 10vw;
    }
    .input_login {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .input_login button {
        cursor: pointer;
        margin-bottom: 30px;
        border-radius: 10px;
        font-size: 4vw;
        margin-top: 20px;
        width: 90vw;
        height: 15vw;
        color: gray;
        border-color: #A0FFA0;
        background-color: #A0FFA0;
    }
    .smart_phone_margin {
        margin-top: 10vw;
        text-align: center;
    }

    /* アカウント作成ページ */
    .flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .create_account_page_wrapper {
        position: absolute;
        top: 13vw;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 310vw;
        font-family: ヒラギノ明朝 ProN;
    }
    .form_create_account {
        margin-top: 10vw;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100vw;
        height: 100vw;
    }
    .form_create_account input {
        width: 70vw;
        font-size: 5vw;
    }
    .form_create_account select {
        margin-bottom: 2vw;
        width: 70vw;
        font-size: 5vw;
    }
    .form_content_margin {
        margin-top: 10vw;
    }
    .regist_button {
        height: 15vw;
        margin-top: 40px;
        text-align: center;
    }
    .regist_button .return {
        margin-top: 3vw;
    }
    .regist_button button {
        cursor: pointer;
        margin-top: 5vw;
        margin-bottom: 20vw;
        color: gray;
        font-size: 4vw;
        width: 90vw;
        height: 15vw;
        border-color: #80FF80;
        border-radius: 10px;
        background-color: #A0FFA0;
    }
    .btn_margin_left {
        margin-bottom: 40vw;
    }

    /* メインページ */
    .search_wrapper {
        text-align: center;
        position: absolute;
        top: 20vw;
        left: 0vw;
        display: flex;
        justify-content: center;
    }
    .search_wrapper label {
        font-size: 3.5vw;
    }
    .search_wrapper select {
        margin-top: 1vw;
        margin-bottom: 1vw;
        text-align: center;
        font-size: 3vw;
        width: 75vw;
        height: 10vw;
    }
    .search_button_size {
        font-size: 3vw;
        width: 75vw;
        height: 10vw;
    }
    .search_button_margin {
        margin-top: 3vw;
    }
    .content_position {
        width: 100vw;
        position: relative;
    }
    .search_text {
        font-size: 3.5vw;
    }
    .search_list_wrapper {
        margin-top: 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .list_button_man {
        border-radius: 5vw;
        background-color: rgb(106, 155, 174);
        border-color: rgb(106, 155, 174);
        width: 80vw;
        height: 80vw;
        margin: 2.5vw;
    }
    .list_button_woman {
        border-radius: 5vw;
        background-color: palevioletred;
        border-color: palevioletred;
        width: 80vw;
        height: 80vw;
        margin: 2.5vw;
    }
    .list_icon {
        width: 32vw;
        height: 32vw;
    }
    .list_button_man span{
        font-size: 4vw;
    }
    .list_button_woman span{
        font-size: 4vw;
    }
    .list_button_page_position {
        margin-top: 20vw;
        margin-bottom: 20vw;
        display: flex;
        justify-content: center;
    }
    .list_button_back {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
        width: 10vw;
        height: 10vw;
    }
    .list_button_next {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
        width: 10vw;
        height: 10vw;
    }
    .list_page {
        display: flex;
        align-items: center;
        font-size: 8vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .account {
        display: flex;
        align-items: center;
    }
    .account_image {
        margin-top: 1vw;
        margin-right: 2vw;
        border-radius: 50%;
        width: 15vw;
        height: 15vw;
    }
    .menu {
        margin-right: 3.5vw;
        width: 8vw;
        height: 6.2vw;
    }
    .border_1 {
        background-color: white;
        border-radius: 1vw;
        width: 8vw;
        height: 0.6vw;
    }
    .border_2 {
        background-color: white;
        border-radius: 1vw;
        width: 8vw;
        height: 0.6vw;
        margin-top: 2.2vw;
        margin-bottom: 2.2vw;
    }
    .border_3 {
        background-color: white;
        border-radius: 1vw;
        width: 8vw;
        height: 0.6vw;
    }
    #id_menu {
		z-index: 100;
	}
    #id_menu .div {
		width: 8vw;
		height: 6.2vw;
		overflow: hidden;
		position: absolute;
		top: 5.7vw;
		right: 3.5vw;
    }
	#id_menu .menu_open {
		color: rgba(255,255,255,1);
		display: block;
		width: 8vw;
		height: 6.2vw;
		position: absolute;
		top: 0vw;
		right: 0vw;
	}
	#id_menu .menu_close {
		color: rgba(255,255,255,1);
		display: none;
		width: 8vw;
		height: 6.2vw;
		position: absolute;
		top: 0vw;
		left: 0vw;
	}
	#id_menu ul {
        list-style: none;
		border-radius: 10px;
		background: rgba(255,255,255,1);
		width: 260px;
        height: 500px;
		position: absolute;
		top: 12vw;
		right: 3vw;
        display: none;
	}

	#id_menu li {
        margin-left: -40px;
        margin-bottom: 0px;
        justify-content: center;
        width: 301px;
        height: 70px;
		text-align: center;
		color: black;
	}
    #id_menu li button {
        margin-bottom: 0px;
        width: 301px;
        height: 70px;
        background: none;
        border: none;
    }

	#id_menu a {
		text-decoration: none;
	}

	#id_menu:target .menu_open {
		display: none;
	}

	#id_menu:target .menu_close {
		display: block;
	}

	#id_menu:target ul {
		display: block;
	}
    .list_bgcolor_man_1:hover {
        background-color: rgb(106, 155, 174);
    }
    .list_bgcolor_man_1:hover button {
        color: white;
    }
    .list_bgcolor_man_2:hover {
        background-color: rgb(106, 155, 174);
    }
    .list_bgcolor_man_2:hover button {
        color: white;
    }
    .list_bgcolor_man_3:hover {
        background-color: rgb(106, 155, 174);
    }
    .list_bgcolor_man_3:hover button {
        color: white;
    }
    .list_bgcolor_man_4:hover {
        background-color: rgb(106, 155, 174);
    }
    .list_bgcolor_man_4:hover button {
        color: white;
    }
    .list_bgcolor_woman_1:hover {
        background-color: palevioletred;
    }
    .list_bgcolor_woman_1:hover button {
        color: white;
    }
    .list_bgcolor_woman_2:hover {
        background-color: palevioletred;
    }
    .list_bgcolor_woman_2:hover button {
        color: white;
    }
    .list_bgcolor_woman_3:hover {
        background-color: palevioletred;
    }
    .list_bgcolor_woman_3:hover button {
        color: white;
    }
    .list_bgcolor_woman_4:hover {
        background-color: palevioletred;
    }
    .list_bgcolor_woman_4:hover button {
        color: white;
    }
    .item1 {
        text-align: center;
        margin-top: 50px;
        margin-left: -40px;
        margin-bottom: 10px;
    }
    .item1_name {
        font-size: 20px;
    }
    .item1_birth {
        margin-top: -10px;
        font-size: 12px;
    }
    .item1_address {
        margin-top: -5px;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .item1_email {
        word-break: break-all;
        max-width: 200px;
        margin: 0 auto;
        font-size: 12px;
    }
    /* プロフィール詳細 */
    .detail_title {
        margin-top: -2vw;
        font-size: 5vw;
    }
    .detail_font_size1 {
        font-size: 3vw;
    }
    .detail_font_size2 {
        font-size: 3vw;
        text-align: center;
    }
    .detail_send_text {
        margin-top: 3vw;
        font-size: 3vw;
        text-align: center;
    }
    .detail_input_title {
        margin-top: 1vw;
        margin-bottom: 3vw;
        font-size: 3vw;
        width: 50vw;
        height: 5vw;
    }
    .detail_input_message {
        font-size: 3vw;
        width: 50vw;
        height: 30vw;

    }
    .detail_img {
        width: 20vw;
        height: 20vw;
    }
    .detail_content_position {
        display: flex;
        justify-content: center;
    }
    .detail_bgcolor_man {
        border: solid 1px gray;
        margin-top: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5vw;
        width: 90vw;
        height: 210vw;
        background-color: skyblue;
    }
    .detail_bgcolor_woman {
        border: solid 1px gray;
        margin-top: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5vw;
        width: 90vw;
        height: 210vw;
        background-color: pink;
    }
    .detail_btn_man {
        font-size: 3vw;
        width: 30vw;
        height: 8vw;
        margin-top: 10vw;
        border-radius: 2vw;
        color: white;
        background-color: blue;
        border-color: blue;
    }
    .detail_btn_woman {
        font-size: 3vw;
        width: 30vw;
        height: 8vw;
        margin-top: 10vw;
        border-radius: 2vw;
        color: white;
        background-color: red;
        border-color: red;
    }
    .return_buttton_margin {
        margin-bottom: 10vw;
    }
    .ownself_form {
        margin-top: 1vw;
        font-size: 3vw;
        width: 50vw;
        height: 30vw;
    }
    /* メッセージボックスページ */
    .message_box_page_wrapper {
        position: absolute;
        top: 19vw;
        left: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .message_box_page_margin {
        position: relative;
        margin-top: 5vw;
    }
    .message_box_title {
        text-align: center;
        font-size: 4vw;
    }
    .message_box_man {
        text-align: center;
        border-radius: 20px;
        border: solid 1px gray;
        width: 80vw;
        height: 125vw;
        background-color: #a0dfff;
    }
    .message_box_woman {
        text-align: center;
        border-radius: 20px;
        border: solid 1px gray;
        width: 80vw;
        height: 125vw;
        background-color: #ffe0e0;
    }
    .notice_text {
        font-size: 2.5vw;
        margin-top: 3.5vw;
        margin-bottom: 2.5vw;
    }
    .box_view_size {
        overflow: hidden;
        height: 100vw;
    }
    .message_button_form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vw;
    }
    .message_button {
        font-size: 2vw;
        width: 60vw;
        height: 8vw;
        margin-right: 2vw;
    }
    .message_button_delete {
        margin-top: 0vw;
        font-size: 2vw;
        width: 10vw;
        height: 8vw;
    }
    .button_page_wrapper {
        margin-top: 5vw;
        display: flex;
        justify-content: center;
    }
    .message_button_page_back_margin {
        margin-right: 2vw;
    }
    .message_button_page_next_margin {
        margin-left: 2vw;
    }
    .message_button_page_change {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        width: 5vw;
        height: 5vw;
    }
    .message_button_page_list {
        font-size: 4vw;
    }
    .message_box_button_back_man {
        font-size: 3vw;
        border-radius: 1vw;
        width: 30vw;
        height: 8vw;
        color: white;
        background-color: blue;
        border-color: blue;
        margin-bottom: 15vw;
    }
    .message_box_button_back_woman {
        font-size: 3vw;
        border-radius: 1vw;
        width: 30vw;
        height: 8vw;
        color: white;
        background-color: red;
        border-color: red;
        margin-bottom: 15vw;
    }
    .confirmation_form {
        width: 75vw;
        margin-bottom: 10vw;
    }
    .message_title {
        font-size: 3vw;
        width: 75vw;
        height: 7vw;
    }
    .message {
        margin-top: 3vw;
        font-size: 3vw;
        width: 75vw;
        height: 60vw;
    }
    .button_resend_man {
        font-size: 3vw;
        border-radius: 1vw;
        width: 30vw;
        height: 8vw;
        color: white;
        background-color: blue;
        border-color: blue;
    }
    .button_resend_woman {
        font-size: 3vw;
        border-radius: 1vw;
        width: 30vw;
        height: 8vw;
        color: white;
        background-color: red;
        border-color: red;
    }
    .button_position {
        margin-top: 8vw;
    }
    .index_title_wrapper {
        margin-left: 3vw;
        text-align: center;
        height: 17.8vw;
    }
    .index_title {

        width: 45vw;
        font-size: 4vw;
    }
    .index_subtitle {
        margin-top: -2.5vw;
        font-size: 1.5vw;
    }

    /* メッセー送信ページ */
    .send_message_wrapper {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .send_button_back_man {
        font-size: 3vw;
        width: 20vw;
        height: 8vw;
        border-radius: 2vw;
        color: white;
        background-color: blue;
        border-color: blue;
    }
    .send_button_back_woman {
        font-size: 3vw;
        width: 20vw;
        height: 8vw;
        border-radius: 2vw;
        color: white;
        background-color: red;
        border-color: red;
    }

    /* 編集画面 */
    .bgcolor_man {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: skyblue;
    }
    .bgcolor_woman {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: pink;
    }
    .index_header_man {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 18vw;
        background-color: rgb(106, 155, 174); 
        display: flex;
        justify-content: space-between;
    }
    .index_header_woman {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 18vw;
        background-color: palevioletred;
        display: flex;
        justify-content: space-between;
    }
    .edit_title {
        width: 100vw;
        text-align: center;
        font-size: 5.5vw;
    }
    .edit_main_wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 30vw;
        left: 0;
        width: 100vw;
        height: 100%;
    }
    .edit_main_content_position {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .edit_select_button_wrapper{
        display: flex;
        width: 90vw;
        height: 100vw;
        flex-wrap: wrap;
        justify-content: center;
    }
    .edit_select_button_1_man {
        margin-top: 5vw;
        width: 90vw;
        height: 30vw;
        border-radius: 3vw;
        background-color: #a0dfff;
        border-color: #a0dfff;
        text-align: center;
    }
    .edit_select_button_1_man p {
        font-size: 4vw;
        margin-top: 0vw;
        margin-bottom: 1vw;
    }
    .edit_select_button_1_man span {
        font-size: 2vw;
    }
    .edit_select_button_2_man {
        margin-top: 5vw;
        margin-bottom: 10vw;
        width: 90vw;
        height: 30vw;
        border-radius: 3vw;
        background-color: #a0dfff;
        border-color: #a0dfff;
        text-align: center;
    }
    .edit_select_button_2_man p {
        font-size: 4vw;
        margin-top: 0vw;
        margin-bottom: 1vw;
    }
    .edit_select_button_2_man span {
        font-size: 2vw;
    }
    .button_back_margin {
        margin-top: 5vw;
        text-align: center;
    }
    .button_back_style_man {
        margin-bottom: 20vw;
        cursor: pointer;
        color: white;
        background-color: blue;
        border-color: blue;
        border-radius: 2vw;
        font-size: 3vw;
        width: 30vw;
        height: 10vw;
    }
    .edit_select_button_1_woman {
        margin-top: 5vw;
        width: 90vw;
        height: 30vw;
        border-radius: 3vw;
        background-color: #ffe0e0;
        border-color: #ffe0e0;
        text-align: center;
    }
    .edit_select_button_1_woman p {
        font-size: 4vw;
        margin-top: 0vw;
        margin-bottom: 1vw;
    }
    .edit_select_button_1_woman span {
        font-size: 2vw;
    }
    .edit_select_button_2_woman {
        margin-top: 5vw;
        margin-bottom: 10vw;
        width: 90vw;
        height: 30vw;
        border-radius: 3vw;
        background-color: #ffe0e0;
        border-color: #ffe0e0;
        text-align: center;
    }
    .edit_select_button_2_woman p {
        font-size: 4vw;
        margin-top: 0vw;
        margin-bottom: 1vw;
    }
    .edit_select_button_2_woman span {
        font-size: 2vw;
    }
    .button_back_margin {
        margin-top: 5vw;
        text-align: center;
    }
    .button_back_margin_2 {
        margin-top: 5vw;
        margin-bottom: 10vw;
        text-align: center;
    }
    .button_back_style_woman {
        margin-bottom: 20vw;
        cursor: pointer;
        color: white;
        background-color: red;
        border-color: red;
        border-radius: 2vw;
        font-size: 3vw;
        width: 30vw;
        height: 10vw;
    }
    .profile_image_wrapper {
        text-align: center;
    }
    .profile_image {
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
    }
    .input_upload_image {
        width: 57vw;
        font-size: 3vw;
    }
    .profile_font_size {
        font-size: 3vw;
    }
    .input_profile_address2 {
        margin-bottom: 3vw;
        margin-left: 3vw;
        font-size: 3vw;
        width: 100px;
    }
    .edit_input_name_margin {
        margin-top: 3vw;
    }
    .edit_input_address_margin {
        margin-top: 3vw;
    }
    .input_profile_address2 {
        margin-top: 1vw;
        margin-left: 0vw;
        width: 42vw;
    }
    .hobby {
        font-size: 3vw;
    }
    .ownself {
        width: 42vw;
        height: 30vw;
        font-size: 3vw;
    }
    .own_self_opponent {
        word-break: break-all;
        background-color: white;
        border: solid 1px gray;
        width: 53vw;
        height: 40vw;
        overflow-y: auto;
        font-size: 3vw;
        text-align: left;
    }
    .own_self_opponent .margin {
        margin: 1vw;
    }
    .edit_select_1_form select {
        margin-bottom: 1vw;
        width: 42vw;
    }
    .edit_select_1_form_content_wrapper {
        width: 90vw;
        display: flex;
        justify-content: center;
    }
    .edit_select_1_form_1_content_center {
        margin-top: 5vw;
        text-align: center;
    }
    .edit_select_2_form {
        font-size: 3vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 90vw;
        text-align: center;
    }
    .edit_select_2_form input {
        width: 60vw;
        height: 5vw;
        font-size: 3vw;
    }
    .input_margin {
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .button_save_margin {
        margin-top: 10vw;
    }
    .button_save_man {
        border-radius: 2vw;
        width: 30vw;
        height: 10vw;
        font-size: 3vw;
        color: white;
        background-color: blue;
        border-color: blue;
    }
    .button_save_woman {
        cursor: pointer;
        color: white;
        background-color: red;
        border-color: red;
        border-radius: 2vw;
        font-size: 3vw;
        width: 30vw;
        height: 10vw;
    }
    /* パスワード変更処理ページ */
    .content_center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .update_text {
        width: 70vw;
        text-align: center;
        font-size: 5vw;
    }
    .button_position {
        text-align: center;
    }
    .button_back_man {
        border-radius: 1.5vw;
        font-size: 3vw;
        color: white;
        width: 20vw;
        height: 8vw;
        background-color: blue;
        border-color: blue;
    }
    .button_back_woman {
        border-radius: 1.5vw;
        font-size: 3vw;
        color: white;
        width: 20vw;
        height: 8vw;
        background-color: red;
        border-color: red;
    }
    /* アカウント削除 */
    .deleted_form_wrapper {
        text-align: center;
        font-size: 5vw;
    }
    .deleted_button_margin {
        margin-top: 2vw;
        text-align: center;
    }
    .deleted_to_login_man {
        border-radius: 2vw;
        font-size: 3vw;
        width: 35vw;
        height: 10vw;
        color: white;
        background-color: blue;
        border-color: blue;
    }
    .deleted_to_login_woman {
        border-radius: 2vw;
        font-size: 3vw;
        width: 35vw;
        height: 10vw;
        color: white;
        background-color: red;
        border-color: red;
    }
}

